body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
    padding: 0;
  }
  
  :root {
    min-height: 300vh;
    flex: 1;
    margin: 0;
    padding: 0;
      --color-primary: #d4af37;
  --color-tertiary: #8c9d88; 
  --color-secondary: #c64e4e; 
  --color-text: #333333; 
  --color-background-white: #f2f2f208; 
  --color-background-light: #dcdcdc;
  }

  .App {
    margin-left: 320px; 
    padding: 1%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  p {
    letter-spacing: 0.015em;
    line-height: 1.3;
  }

  .introduction {
    color: var(--color-text);
    margin: 1%;
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  
.footer {
  position: relative;
  bottom: -15%;
  left: 0;
  width: 100%;
  padding: 1%;
  text-align: center;
  font-size: 14px;
}


/* Header.jsx */

.social-media-icon {
  width: 95px;
  height: 90px;
  margin-left: auto;
  border-radius: 50%;
}

.header {
  background-color: var(--color-background-white);
  border-bottom: 1px solid var(--color-background-light);
  height: 4%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin: 0;
  padding: 0.8%;
}


.header .nav-links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header .nav-links .nav-link {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  transition: color 0.3s ease;

}

.header .nav-links .nav-link:hover {
  color: var(--color-tertiary);
  text-decoration: underline;
}

.hamburger-menu {
  position: relative;
  display: flex;
  align-items: center;
}

.hamburger-icon {
  font-size: 2.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* UploadSection.jsx */

.upload-section {
  width: 300px; 
  height: 100vh; 
  position:fixed; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1%;
  background-color: var(--color-background-white);
  border: 1px solid var(--color-background-light);
  gap: 10px;
  top: 0;
  overflow-y: auto;
}

.upload-section .logo {
  display: flex;
  align-items: center;
  margin: 2%;
}

.upload-section .logo .logo-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  fill: var(--color-primary);
}

.upload-section .logo h2 {
  color: var(--color-primary);
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.upload-section .upload-title {
  color: var(--color-text);
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 0;
  margin: 1%;
  margin-top: 4%;
}

.upload-section .upload-info {
  color: var(--color-text);
  font-size: 0.7rem;
  line-height: 0;
}

.upload-section .upload-button {
  background-color: var(--color-secondary);
  color: white;
  padding: 3px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1%;
  transition: background-color 0.3s ease;
}

.upload-section .upload-button:hover {
  background-color: var(--color-tertiary);
}


.upload-form {
  display: flex;
  flex-direction: column;
  gap: 2%;
  width: 100%;
}

.upload-form label {
  color: var(--color-text);
  font-weight: bold;
}

.upload-form input[type='text'],
.upload-form textarea,
.upload-form input[type='file'],
.upload-form input[type='submit'] {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.upload-form textarea {
  resize: vertical;
}

.upload-form input[type='submit']:hover {
  background-color: var(--color-tertiary);
}

.upload-form input[type='file'] {
  font-size: 0.875rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* MapComponent.jsx */

.marker {
 z-index: 10;
 box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.map-component {
  padding: 1%;
  margin-top: 2%;
}

#map {
  width: 100%;
  height: 400px;

}

/* PhotoGrid.jsx */

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
  padding: 1%;
}

.photo-item {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px 8px 0 0;
}

.photo-details {
  padding: 10px;
  background-color: #f0f0f0;
}

.photo-details h3 {
  margin-top: 0;
  font-size: 18px;
}

.photo-details p {
  margin-bottom: 0;
  font-size: 14px;
}


  